.box1 {
    background-color: rgb(116, 24, 237);
    border: 0 solid red;
    padding: 10px;
    height: 100px;
    width: 100px;
    border:30px solid rgb(174, 213, 121);
    margin: 60px;
}

.box2 {
    background-color: aquamarine;
    border: 0 solid red;
    padding: 10px;
    height: 100px;
    width: 100px;
    border:30px solid magenta;
    margin: 60px;
}
/* Margin collapses between two elements */