* {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: saddlebrown solid 1px;
    color: #fff;
}
/* Navigation Bar Styles */
.navbar {
    background-color: #1F2937;
    height: auto;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navbar .container .logo {
    font-size: 36px;
    font-weight: bolder;
    width: 28%;
}
.link {
    font-size: 20px;
    text-decoration: none;
}

.navbar .container .nav {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
/* Navigation bar "Header link" anchor element adjustments */
a {
    padding-left: 20px;
}
/* Header section styles */
.header .container .nav {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: flex-start;
}

.header .container img {
    display: flex;
    background-color: lightskyblue;
    height: 260px;
    width: 40%;
}
.header .container {
    justify-content: space-evenly;
}
.header {
    background-color: #1F2937;
    height: 500px;
    display: flex;
}
.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 20px;
    color: #a39f9f;
}

button {
    height: 28px;
    margin-top: 10px;
    width: 70px;
    color: #fff;
    background-color: lightskyblue;
}

/* Third section styles */

.randominfo .container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.randominfo h1 {
    font-size: 44px;
    color: black;
    display: flex;
    justify-content: center;
}

.randominfo .container {
    display: flex;
    height: 35vh;
}
/* Percent (%) is "relative to the parent element" */
/* vw, vh are relative to the viewport */
.randominfo .container .box {
    display: flex;
    width: 16vw;
    height: 65%;
    padding: 10px;
}

.randominfo .container .box p {
    color: black;
    height: 21.5%;
    text-align: center;
}

.randominfo .container .box img {
    width: 100%;
    height: 78%;
    border: solid 4px dodgerblue;
    border-radius: 5%;
}

/* Thorquote Section */
.thorquote {
    display: flex;
    width: 100vw;
    height: 40vh;
}
.thorquote .container {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.testimonial{
    color: black;
    width: 60%;
    font-size: 44px;
}
